bigip1_ip = "${bigip_ip}"
prefix="${prefix}"
ssh_key="${ssh_key}"
aws_region="${aws_region}"
rhcos_ami = "${rhcos_ami}"
subnet_id = "${subnet_id}"
security_group = "${security_group}"
iam_instance_profile_bigip = "${iam_instance_profile_bigip}"
iam_instance_profile_bootstrap = "${iam_instance_profile_bigip}"
iam_instance_profile_control-plane = "${iam_instance_profile_control-plane}"
iam_instance_profile_worker = "${iam_instance_profile_bigip}"

s3_bucket  = "${s3_bucket}"
cluster_id = "${cluster_id}"